body {
    height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.header {
    background-color: #1f2937;
}

.top{
    display: flex;
    
    
    
}

.logo {
    margin-top: 20px ;
    margin-left: 180px;
    margin-right: 540px;
    
   

}

.logo img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
    
}

ul {
    display: flex;
    gap: 60px;
    list-style: none;
    align-items: center;
    
    

}

.header a, .header p {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}


.Map-image {
    height: 250px;
    width: 500px;
    object-fit: cover;
    margin-top: 100px;
    
}

.bot {
    display: flex;
    justify-content: center;
    
}
.bot h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
   
}

.bot button {
    padding: 8px 40px;
    color: white;
    background-color: #4681f4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid;
    border-color: #3882f6;
    border-radius: 10px;
}

.bot1 {
    height: 250px;
    width: 500px;
    margin: 100px 50px 100px 50px;   
    
    
}

.section1 > h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
}

.places {
    display: flex;
    justify-content: center;
    margin: 50px 100px 80px 100px;
    gap: 50px;
    flex-wrap: wrap;
     
}

.places img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #3882f6;
    border-radius: 5px;
}

.places p {
    color: black;
    text-align: center;
    font-size: 18px;

    
  
    
}

.subplace {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;


}

.section2 {
    background-color: #E5E7EB;
    padding: 50px;
    width: 1000px;
    margin: auto;
    
}

.section2 > h2 {
    font-weight: lighter;
    text-align: center;
    font-size: 36px;
    font-style: italic;


}

.section2 h3 {
    margin-left: 800px;
}

.section3 {
    display: flex;
    justify-content: center;
    width: 800px;
    margin: 80px auto;
    background-color: #3882f6;
    padding: 20px 0 20px 100px;
    border-radius: 8px;
    color: white;
}

.section3 > button {
    margin: auto;
    padding: 8px 40px;
    color: white;
    background-color: #3882f6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid;
    border-color: white;
    border-radius: 10px;

}

.sign h2 {
   margin-bottom: 0;
    
}

.sign h3 {
    margin-top: 0;

}

.footer {
    background-color: #1f2937;
    padding: 25px;
    text-align: center;
    color: white;
}


